---
---

//
// IMPORTS
//

@import "variables";
// Syntax highlighting @import is at the bottom of this file
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "bootstrap";
@import "new";
@import "font-awesome";

// amilk
.tags {
  list-style: none;
  display: block;
  float: right;
  li {
    float:left;
    background-color:#ddd;
    border-radius: 10px;
    padding: 2px 10px;
    margin: 3px;
    font-size: 0.8em;
    color:#666;
  }
}

.entry {
  clear:both;
}
